[submodule "GRAnalyzer"]
	path = GRAnalyzer
	url = https://github.com/mijja-koeln/GRAnalyzer.git
[submodule "MPIEventLoop"]
	path = MPIEventLoop
	url = https://github.com/mijja-koeln/MPIEventLoop.git
